* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  display: block;
}
p {
  line-height: 1.5;
}
/*START section HEADER*/
header {
  background-color: #7c848e;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo p{
  padding-top: 30px;
  font-family: 'Roboto Slab';
  font-size: 48px;
  color: rgba(232,232,232,255);
  text-shadow: 3px 3px 3px lightgrey;
  letter-spacing: 3px;
}
.logo-nav {
  padding-top: 35px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: rgba(232,232,232,255);
}
.logo-nav p{
  padding-right: 10px;
}
.dropdown{
  padding-right: 20px;
}
/*dropbox kodo css pradzia*/
.dropdown ul {
  margin: 0;
  padding: 0;
}
.dropdown ul li:hover ul {
  display: block;
  right:-5px;
}
.dropdown ul li ul {
  position: absolute;
  width: 110px;
  display: none;
}
.dropdown ul li ul li {
  background: none;
  display: block;
}
.dropdown ul li ul li a {
  display:block !important;
  text-decoration: none;
  color: rgba(232,232,232,255);
  padding: 10px;
  font-size: 14px;
}
.dropdown ul li ul li:hover {background: grey;}
/*dropbox kodo pabaiga*/
.title {
  margin-top: 165px;
  text-align: center;
  color: rgba(232,232,232,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 36px;
}
.title-text {
  padding-top: 35px;
  text-align: center;
  color: rgba(232,232,232,255);
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}
.head-box {
  width: 126px;
  height: 40px;
  border: 1px solid white;
  margin: 35px auto;
  margin-bottom: 137px;
  border-radius: 30px;
}
.head-box p {
  color: rgba(232,232,232,255);
  font-size: 13px;
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
}
.head-box a {
    text-decoration: none;
}
.button-circle p {
  text-align: center;
  color: #c6c9ca;
  margin-bottom: 145px;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c9ca;
  padding: 9px;
  padding-top: 15px;
  margin: 0 auto;
  border-radius: 25px;
}
.line-down {
  height: 100px;
  width: 1px;
  margin: 0 auto;
  border: 1px solid #c6c9ca;
  padding: 0;
  background-color: #c6c9ca;
}
/* END section HEADER*/

/* START section SERVICES*/
.services {
  padding-bottom: 100px;
  background-color: #f5f5f5;
}
/*start SECTION TITLE style*/
.title-fix-set h2 {
  border: none;
  padding-top: 100px;
  text-align: center;
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
}
.title-fix-set p {
  border: none;
  padding-top: 15px;
  text-align: center;
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-size: 14px;
}
.title-text-underline {
  margin: 15px auto;
  margin-bottom: 0;
  border-bottom: 3px solid black;
  height: 0;
  width: 40px;
}
/*end SECTION TITLE style*/

ul.services-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}
.icon {
  width: 265px;
  margin: 0 15px;
}
.icon-picture {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin: 0 auto;
  background: radial-gradient(#475562 20%, #36424d 60%);
}
.icon-picture i {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  width: 120px;
  padding-top: 30px;
}
.icon p{
  text-align: center;
  padding: 0 15px;
}
.services-flexbox h3{
  color: rgba(41,50,60,255);
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-top: 40px
}
.services-flexbox p {
  color: rgba(41,50,60,255);
  font-family: 'OpenSans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
/*END section SERVICES*/

/*START section WORKS*/
.works {
  background-color: #ffffff;
}
.images {
  width: 100%;
  margin-top: 60px;
}
.images ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.images li{
  width: 20%;
}
.images img{
  height: 200px;
  display: block;
}
/*uzdedame hover an works images*/
.hover-on-work-example{
  position: relative;
}
.work-hover{
  position: absolute;
  display: none;
  background-color: rgba(117,126,135,0.5);
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.hover-on-work-example:hover .work-hover {
  display: block;
}
.work-hover h5{
  color: rgba(242,242,242,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  padding-top: 90px;
}
.work-hover h6{
  color: rgba(242,242,242,255);
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  padding-top: 15px;
}
/*END section WORKS*/

/*START section HAPPY CLIENTS*/

.happy-clients-text {
  margin-top: 60px;
  text-align: center;
  color: rgba(43,55,70,255);
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
.quot {
  margin: 25px 0 30px 0;
  text-align: center;
  font-family: 'Montserrat';
  color: rgba(43,55,70,255);
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  line-height: 0;
}
.client-foto {
  display: block;
  margin: 0 auto;
}
.client-info h3{
  margin-top: 15px;
  text-align: center;
  color: rgba(41,50,60,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
}
.client-info p{
  margin-top: 8px;
  text-align: center;
  color: rgba(41,50,60,255);
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  margin-bottom: 35px;
}
.dot ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
.dot li button{
  height: 15px;
  width: 15px;
  border: 1px solid #555f6b;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 0;
  outline: none;
}
.dot li button:hover {
  border-color: none;
  background-color: #2b3746;
}

/*END section HAPPY CLIENTS*/

/*START section TEAM*/
.team {
  padding-bottom: 100px;
}
.team .title-fix-set h2{
  border: none;
  padding-top: 100px;
  text-align: center;
  color: rgba(242,242,242,255);
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
}
.team .title-fix-set p {
  border: none;
  padding-top: 15px;
  text-align: center;
  font-family: 'Open Sans';
  color: rgba(242,242,242,255);
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
.team-member-box {
  position: relative;
}
ul.team-member-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 135px;
}
.team-member-box li{
  background: #cacfd1;
}
/*uzdedam hover ant team foto*/
.hover-on-team-member{
  position: relative;
}
.member-hover{
  position: absolute;
  display: none;
  background-color: rgba(117,126,135,0.5);
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}
.hover-on-team-member:hover .member-hover {
  display: block;
}
.member-hover h5{
  color: rgba(232,232,232,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 15px;
}
.member-hover-bottom{
  margin: 15px auto;
  margin-bottom: 0;
  border-bottom: 3px solid black;
  height: 0;
  width: 40px;
}
.team-box a:hover{
  text-decoration: none
}
/*hover uzdejimo pabaiga*/
.team-member-box h3{
  padding-top: 25px;
  color: rgba(41,50,60,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  text-align: center;
}
.team-member-box p{
  padding-top: 10px;
  color: rgba(41,50,60,255);
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-align: center;
}
.member-contact-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.member-contact-list li{
  padding: 14px 0;
}
.member-contact-list li a {
  color: rgba(41,50,60,255);
  font-size: 25px;
  text-decoration: none;
}
.team-box {
  width: 200px;
  height: 40px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  background: none;
}
.team-box:hover {
  background-color: #cbd0d2;
}
.team-box:hover p{
  color: #303132;
}
.team-box p {
  color: rgba(232,232,232,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
}
.team .title-text-underline{
  border-color: #dcdede;
}
/*END section TEAM*/

/*START section CLIENTS-LOGO*/
.clients-logo {
  background-color: #f5f5f5;
}
.clients-logo-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
/*END section CLIENTS-LOGO*/

/*START section PRICING-LIST*/
.pricing-list {
  padding-bottom: 100px;
}
.price-list-container{
  display: flex;
  justify-content: center;
  margin: 75px 15px 0px 15px;
}
.price-list-container li{
  width: 33%;
}
.prs-div-head, .prs-div-bottom{
  border: 1px solid #eeeeee;
}
.empty-table {
  border-top: 5px solid #485563;
  margin-top: -30px;
}
.empty-subtable {
  margin-top: 25px;
}
.prs-div-bottom{
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.prs-div-bottom p {
  padding: 0 40px;
  text-align: center;
  line-height: 2;
}
.prs-div-head h2{
  color: rgba(72,85,99,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}
.prs-div-head h5{
  color: rgba(72,85,99,255);
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 10px;
}
.prs-div-head h6{
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 35px;
}
.prs-div-text{
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prs-div-text p{
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding: 0 65px;
  line-height: 3;
}
.order-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-btn{
  padding: 13px 37px;
  border-radius: 20px;
  background-color: #485563;
  color: rgba(232,232,232,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  border-bottom: none;
}
.order-button button{
  outline: none;
}
/*END section PRICING-LIST/

/*START section CONTACT*/
.contact {
  width: 100%;
}
.contact-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*MAPS įdėjimo pradžia*/
.acf-map {
	width: 100%;
	height: 650px;
}
/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
/*MAPS įdėjimo pabaiga*/

.contact-box li {
  width: 100%;
}
.contact-set {
  height: 650px;
  width: 100%;
  padding-top: 85px;
  padding-left: 200px;
}
/*kontaktų formos pradžia*/
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(246,246,246,255);
  resize: vertical;
  background: none;
  outline: none;
  }
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: rgba(246,246,246,255);
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
input[type=submit] {
  background: none;
  color: rgba(232,232,232,255);
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  border: 1px solid rgba(246,246,246,255);
  margin-top: 25px;
  width: 120px;
  height: 45px;
  outline: none;
}
input[type=submit]:hover {
  background-color: rgba(246,246,246,255);
  color: #303232;
  outline: none;
}
.row-contact{
  display: flex;
  flex-wrap: wrap;
}
.submit {
  display: inline;
  margin-left: 290px;
}
.col-25 {
  float: left;
  width: 110px;
  margin-top: 25px;
}
.col-75 {
  float: left;
  width: 300px;
  height: 45px;
  margin-top: 25px;
}
/* Clear floats after the columns */
.row-contact:after {
  content: "";
  display: table;
  clear: both;
}

/* END section CONTACT */

/*START section FOOTER*/
.footer {
  height: 130px;
  background-color: #f5f5f5;
}
.footer-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
}
.part1, .part2 {
  display: flex;
  justify-content: space-around;
}
.footer-logo h3{
  font-family: 'Roboto Slab';
  font-size: 48px;
  color: rgba(41,50,60,255);
  text-shadow: 3px 3px 3px lightgrey;
  letter-spacing: 3px;
  margin-left: 15px;
}
.footer-logo h2 {
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  margin-left: 30px;
  padding-top: 20px;
}
.footer-logo p {
  color: rgba(41,50,60,255);
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  padding-top: 10px;
}
.footer-logo-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
}
.footer-logo-nav li {
  margin-left: 10px;
  list-style-type: none;
  font-size: 35px;
}
.footer-logo-nav a {
  color: #525961;
  text-decoration: none;
}
/*END section FOOTER*/

/*media formatai*/
@media all and ( max-width:1601px ) {
}

@media all and ( max-width:1281px ) {
  .logo p {padding-left: 30px;}
  .icon {width: 200px;margin: 0 10px;}
  .images img {height: 160px;}
  .team-member-box li {margin: 0 2px;}
  .prs-div-text p{line-height: 2.2;}
  .contact-set {padding-left: 140px;}
  .col-25 {width: 65px;}
  .col-75 {width: 250px;}
  .submit {margin-left: 195px;}
}

@media all and ( max-width:991px ) {
  .logo p{padding-top: 10px;}
  .logo-nav{padding-top: 15px;}
  .dropdown ul li ul li a {padding: 6px;font-size: 12px;}
  .title {margin-top: 175px;}
  .head-box{margin-bottom: 97px;}
  .icon {margin: 10px 30px;width: auto;}
  .title-fix-set h2 {padding-top: 25px;}
  .member-hover h5{padding-top: 80px;}
  ul.services-flexbox {margin-top: 8px; flex-wrap: wrap;}
  .services-flexbox li{width: 50%;}
  .services-flexbox h3 {margin-top: 20px;}
  .services-flexbox p {margin-top: 10px;}
  .icon-picture i{width: 80px; padding-top: 20px;font-size:40px;}
  .icon-picture {width: 80px; height: 80px;border-radius: 40px;}
  .images {margin-top: 35px;}
  .images li {width: 20%;}
  .images img {height: 150px;}
  .work-hover h5{padding-top: 50px;}
  .team .title-fix-set h2 {padding-top: 25px;}
  .clients-logo img{width: 120px;}
  .prs-div-text p{line-height: 2.2; padding: 0 10px;}
  .acf-map {height: 500px;}
  .contact-set {padding-left: 50px; height: 500px;padding-top: 5px;}
  .col-25 {width: 65px;}
  .col-75 {width: 200px;}
  .submit {margin-left: 145px;}
  .footer-logo h2{margin-left:10px;}

@media all and ( max-width: 669px ) {
  .logo p{padding-top: 10px;}
  .logo-nav{padding-top: 15px;}
  .dropdown ul li ul li a {padding: 6px;font-size: 12px;}
  .title {margin-top: 175px;}
  .head-box{margin-bottom: 97px;}
  .images {margin-top: 15px;}
  .images li {width: 33%;}
  .images img {height: 140px;}
  .work-hover h5{padding-top: 50px;}
  .icon {margin: 6px 20px;width: auto;}
  .title-fix-set h2 {padding-top: 25px;}
  .member-hover h5{padding-top: 60px;}
  ul.services-flexbox {margin-top: 8px; flex-wrap: wrap;}
  .services-flexbox li{width: 50%;}
  .services-flexbox h3 {margin-top: 10px;}
  .services-flexbox p {margin-top: 10px;}
  .icon-picture i{width: 60px; padding-top: 15px;font-size:30px;}
  .icon-picture {width: 60px; height: 60px;border-radius: 30px;}
  .team .title-fix-set h2 {padding-top: 25px;}
  ul.team-member-box {flex-wrap: wrap; margin-bottom: 20px}
  .clients-logo img{width: 80px;}
  .team {padding-bottom: 20px;}
  .team-member-box h3{padding-top: 10px;}
  .team-member-box p{padding-top: 10px;}
  .team-member-box li {width: 35%; margin: 2px 2px;}
  .hover-on-team-member img{width: 100%}
  .member-contact-list li {font-size: 10px; text-align: center;}
  .prs-div-head h2 {font-size: 15px;}
  .prs-div-text p{line-height: 1.3; padding: 0 10px;}
  .acf-map {height: 400px;}
  .contact-box {flex-direction: column;}
  .contact-set {height: 400px;padding-top: 5px;}
  .col-25, .col-75, input[type=submit]{margin-top: 10px;}
  .footer-logo h3{margin-left: 0;}
  .footer-logo h2{margin-left:5px;}
  .footer-logo{flex-direction: column;}
}

@media all and ( max-width: 481px ) {
  .logo p{padding-top: 10px; font-size: 25px}
  .logo-nav{padding-top: 15px;}
  .dropdown ul li ul li a {padding: 6px;font-size: 11px;}
  .dropdown ul li ul {width: 90px;}
  .title {margin-top: 175px;}
  .head-box{margin-bottom: 97px;}
  .services {padding-bottom: 30px;}
  .images {margin-top: 15px;}
  .images li {width: 100%;}
  .images img {height: 250px;width: 100%}
  .work-hover h5{padding-top: 80px;}
  .icon {margin: 16px 5px;width: auto;}
  .title-fix-set h2 {padding-top: 15px;}
  .member-hover h5{padding-top: 100px;}
  ul.services-flexbox {margin-top: 5px; flex-wrap: wrap;}
  .services-flexbox h3 {margin-top: 5px;font-size: 13px;}
  .services-flexbox p {margin-top: 10px;font-size: 13px;}
  .icon-picture i{width: 40px; padding-top: 10px;font-size:20px;}
  .icon-picture {width: 40px; height: 40px;border-radius: 20px;}
  .team .title-fix-set h2 {padding-top: 25px;}
  ul.team-member-box {flex-wrap: wrap; margin-bottom: 30px}
  .clients-logo-container{height: 100px}
  .clients-logo img{width: 55px;}
  .team {padding-bottom: 25px;}
  .team-box {margin-top: 25px;}
  .team-member-box li {width: 70%; margin: 5px 5px;}
  .team-member-box h3{padding-top: 10px;font-size: 15px}
  .team-member-box p{padding-top: 10px;font-size: 15px}
  .member-contact-list li {font-size: 10px; text-align: center;}
  .price-list-container {margin: 45px 5px 0px 5px;}
  .prs-div-head h2 {font-size: 10px;}
  .prs-div-head h5 {font-size: 25px;}
  .prs-div-head h6 {font-size: 12px;}
  .prs-div-text p{line-height: 1; padding: 0 5px;}
  .order-btn {padding: 10px 15px; margin-top: 15px; font-size: 12px;}
  .footer-logo h2{font-size: 11px;}
